<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Use the reduce method in combination with the concat method to “flatten” an array of arrays into a single array that has all the elements of the input arrays.</title>
</head>
<body>
    <script>
        var arrays = [[1, 2, 3], [4, 5, 8], [6]];
        // Your code here.
        function flatten(previousArray, currentArray){
              return previousArray.concat(currentArray);
        };
        // → [1, 2, 3, 4, 5, 6]
        console.log(arrays.reduce(flatten));
    </script>
</body>
</html>