<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>判断数据类型</title>
</head>
<body>
    <script>
        (function(){
            var Type = {};
            for(var i = 0, type; type = ['String','Array','Number'][i++];){
                (function(type){
                    Type['is' + type] = function(obj){
                        return Object.prototype.toString.call(obj) === '[object '+ type +']';
                    }
                })(type)
            }
            Type.isArray([]);//true
            Type.isString('');//true
            
        })()
    </script>
</body>
</html>