<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传模块--迭代器模式的应用举例</title>
</head>
<body>
<script text="" src="../js/jquery-2.1.3.min.js"></script>
   <script>
        function supportFlash () {
            var hasFlash = 0;         //是否安装了flash  
            if (navigator.plugins && navigator.plugins.length > 0) {  
                var swf = navigator.plugins["Shockwave Flash"];  
                if (swf) {  
                    return true; 
                }  
            } 
        }
        var getActiveUploadObj = function(){
            try{
                return new ActiveXObject( "TXFTNActiveX.FTNUpload" ); // IE 上传控件
            }catch(e){
                return false;
            }
        };
        var getFlashUploadObj = function(){
            if ( supportFlash() ){ // supportFlash 函数未提供
                var str = '<object type="application/x-shockwave-flash"></object>';
                return $( str ).appendTo( $('body') );
            }
            return false;
        };
        var getFormUpladObj = function(){
            var str = '<input name="file" type="file" class="ui-file"/>'; // 表单上传
            return $( str ).appendTo( $('body') );
        };  

        var iteratorUploadObj = function(){
            for ( var i = 0, fn; fn = arguments[ i++ ]; ){
                var uploadObj = fn();
                if ( uploadObj !== false ){
                    return uploadObj;
                }
            }
        }; 

       var uploadObj = iteratorUploadObj( getActiveUploadObj,getFlashUploadObj, getFormUpladObj);
       console.log(uploadObj);
   </script> 
</body>
</html>