<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网站登录(发布订阅模式)</title>
</head>
<body>
    <script text="" src="../js/jquery-2.1.3.min.js"></script>
    <script>
        var Event = (function(){
            var clientList = {},
                listen,
                trigger,
                remove;
            listen = function( key, fn ){
                if ( !clientList[ key ] ){
                    clientList[ key ] = [];
                    console.log(clientList);
                }
                clientList[ key ].push( fn );
                console.log(clientList);
            };
            trigger = function(){
                var key = Array.prototype.shift.call( arguments ),
                    fns = clientList[ key ];
                if ( !fns || fns.length === 0 ){
                    return false;
                }
                for( var i = 0, fn; fn = fns[ i++ ]; ){
                    fn.apply( this, arguments );
                }
            };
            remove = function( key, fn ){
                var fns = clientList[ key ];
                if ( !fns ){
                    return false;
                } 
                if ( !fn ){
                    fns && ( fns.length = 0 );
                }else{
                    for ( var l = fns.length - 1; l >=0; l-- ){
                        var _fn = fns[ l ];
                        if ( _fn === fn ){
                            fns.splice( l, 1 );
                        }
                    }
                }
            };
            return {
                listen: listen,
                trigger: trigger,
                remove: remove
            }
        })(); 

        /*var Observer = {
            ob: {

            },
            on: function(eventNames, callback) {
                var _events = eventNames.split(' ');
                for (var i = 0; i < _events.length; i++) {
                    if (!this.ob[_events[i]]) {
                        this.ob[_events[i]] = [];
                    }
                    this.ob[_events[i]].push(callback);
                }
            },
            off: function(eventNames) {
                var _events = eventNames.split(' ');
                for (var i = 0; i < _events.length; i++) {
                    this.ob[_events[i]] = [];
                };
            },
            trigger: function(eventName, args) {
                var r;
                if (!this.ob[eventName]) {
                    return r;
                }
                var _arg = args || [];
                for (var i = 0; this.ob[eventName] && i < this.ob[eventName].length; i++) {
                    r = this.ob[eventName][i].apply(this, [_arg]);
                    if (r === false) {
                        continue;
                    }
                }
                return r
            }
        };
        Observer.addPublisher = function(o) {
            $.extend(true, o, Observer);
        };*/

        var login = Event;
        $.ajax({
            type : 'post',
            dataType : 'json',
            url : 'http://192.168.2.13:817/api/Ajax',
            data : {
                M: 'GetMemberAccount'
            },
            success : function(data){
                if(data.S === 0){
                    login.trigger( 'loginSucc', $.parseJSON(data.D)); // 发布登录成功的消息
                }
            }
        })
        
        var header = (function(){ // header 模块
            login.listen( 'loginSucc', function( data){
                header.setAvatar( data.totalProductPrice );
            });
            return {
                setAvatar: function( data ){
                    console.log( '设置 header 模块的头像'+ data );
                }
            }
        })();
        var nav = (function(){ // nav 模块
            login.listen( 'loginSucc', function( data ){
                nav.setAvatar( data.accountBalance );
            });
            return {
                setAvatar: function( avatar ){
                    console.log( '设置 nav 模块的头像' + avatar );
                }
            }
        })(); 
    </script>
</body>
</html>