<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>通用的惰性单例</title>
</head>
<div id="loginBtn">loginBtn</div>
<div id="div1">div1</div>
<body>
    <script>
        var getSingle = function(fn){
            var result;
            return function(){
                return result || (result = fn.apply(this,arguments));
            }
        }

        var createLoginLayer = function(){
            var div = document.createElement( 'div' );
            div.innerHTML = '我是登录浮窗';
            div.style.display = 'none';
            document.body.appendChild( div );
            return div; 
        }

        var createSingleLoginLayer = getSingle(createLoginLayer);

        document.getElementById( 'loginBtn' ).onclick = function(){
            var loginLayer = createSingleLoginLayer();
            loginLayer.style.display = 'block';
        };

        var bindEvent = getSingle(function(){
            document.getElementById( 'div1' ).onclick = function(){
                alert ( 'click' );
            }
            return true;
        });
        var render = function(){
            console.log( '开始渲染列表' );
            bindEvent();
        };
        render();
        render();
        render(); 
    </script>
    
</body>
</html>